{% extends "base.html" %}
{% load category_tags %}

{% block sidebar %}
    {% include "_inc/sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="col-md-9">
        {% for new in data %}
            <div class="card mb-4">
                {{ new.category.title }}
                {{ new.created_at|date:'j.n.Y G:i:s'}}
                {% if new.photo %}
                    <img src=" {{ new.photo.url }}" class="card-img-top" width="50">
                {% else %}
                    <img src="https://w.forfun.com/fetch/56/5656d35727009cabea6ce79973a9702c.jpeg"
                         width="400">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ new.title }}</h5>
                    <p class="card-text">{{ new.content|capfirst|truncatewords_html:10}}</p>
                    <a href="#" class="btn btn-primary">Читай дальше...</a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}