{#<div class="col-md-3">        {# отрисовка инклюжн тэга, но тут он не работает. работать начинает после вызова в sidebar.html #}
{#    <div class="list-group">#}
{#        {% for category in categories %}#}
{#            {% if current_category == category.id %}#}
{#                <a href="{% url 'categories' category.id %}"#}
{#                   class="list-group-item list-group-item-action active" aria-current="true">#}
{#                    {{ category }}#}
{#                </a>#}
{#            {% else %}#}
{#                <a href="{% url 'categories' category.id %}"#}
{#                   class="list-group-item list-group-item-action">{{ category }}</a>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
